#stickerContainer {
    position: relative;
}

.sticker {
    position: absolute;
    width: 300px;
    background-color: seagreen;
    padding: 1rem;
}

.draggable:hover {
    cursor: pointer;
}

.item-container {
    list-style-type: none;
    padding: 0.5rem 1rem;
    min-height: 20px;
    margin: 0;
}

.item {
    background-color: #eee;
    margin: 0.3rem 0;
    padding: 10px;
}

.item.ghost {
    position: absolute;
    margin: 0;
}

.placeholder {
    margin: 0.3rem 0;
    background-color: rgba(100, 100, 100, 0.3);
}

.hidden {
    display: none;
}